li {
  cursor: pointer;
}

li {
  list-style: none;
}

.hover-menu {
  margin: auto;
  display: none;
}

.hover-menu .subcategories {
  background-color: #666;
}

.hover-menu .subcategories .subcategory {
  color: #D7DFE1;
  padding: .4em;
  padding-left: 1em;
  border-top: 1px solid #999999;
}

.hover-menu .subcategories .subcategory:hover {
  background-color: #999999;
}

.hover-menu .subcategories ul {
  padding: 0;
}

.hover-menu .subcategoryitems {
  background-color: #E6ECED;
  padding: .7em;
}

.hover-menu .subcategoryitems .subcategoryitem {
  text-align: center;
}

.hover-menu .subcategoryitems .subcategoryitem img {
  width: 100%;
  border: 1px solid #fff;
}

.hover-menu .subcategoryitems .subcategoryitem:hover img {
  border: 1px solid grey;
}

.hover-menu .subcategoryitems .subcategoryitem p {
  font-size: 1.1em;
  color: #666;
  font-weight: 600;
}

.specmain {
  padding: 1em;
}

.specmain img {
  width: 100%;
}

.specmain .prod-img .main-img {
  border: 1px solid #e9e9e9;
}

.specmain .prod-img .main-img:hover {
  border: 1px solid #cd2127;
}

.specmain .prod-img .mini-imgs {
  margin-top: 1em;
  padding: .5em;
}

.specmain .prod-img .mini-imgs .mini-img {
  padding: .1em;
  border: 1px solid #e9e9e9;
}

.specmain .prod-img .mini-imgs .mini-img:hover {
  border: 1px solid #cd2127;
}

.specmain .prod-chars .nesenese {
  padding: 1em;
}

.specmain .prod-chars .nesenese h4 {
  padding: .4em;
  font-weight: 400;
  border-bottom: 1px solid #e9e9e9;
}

.specmain .prod-chars .nesenese .price {
  font-size: 1.3em;
  font-weight: 600;
}

.specmain .prod-chars .nesenese .prod-char {
  background-color: #f5f5f5;
  padding: .5em;
}

.specmain .prod-chars .nesenese .prod-char .left ul {
  padding: 0;
}

.specmain .prod-chars .nesenese .prod-char .left ul li {
  padding: .4em;
  color: #828282;
}

.specmain .prod-chars .nesenese .prod-char .right ul {
  padding: 0;
}

.specmain .prod-chars .nesenese .prod-char .right ul li {
  padding: .4em;
  color: #666;
  font-weight: 600;
}

.specmain .prod-chars .nesenese .btn-part {
  margin-top: 2em;
}

.specmain .prod-chars .nesenese .btn-part button {
  width: 100%;
  background-color: #cd2127;
  color: #fff;
  border: none;
  height: 2em;
  font-weight: 600;
}

.specmain .prod-chars .nesenese .btn-part img {
  width: 100%;
}

.specifications h4 {
  font-weight: 400;
}

.specifications .row {
  margin-top: 1em;
}

.specifications .row .aska {
  padding: 0;
}

.specifications .row .aska ul {
  padding: 0;
  border: 1px solid #e9e9e9;
}

.specifications .row .aska ul li {
  border-bottom: 1px solid #e9e9e9;
  padding-left: 1em;
}
.blog {
    padding: 1em;
}

    .blog .blogtitle {
        color: #3cabdc;
        font-weight: 400;
        font-size: 1.7em;
    }

    .blog .news-box {
        margin-top: 1em;
        padding: 1em;
        border-bottom: 1px solid #dfdfdf;
    }

        .blog .news-box .title {
            color: #3cabdc;
            font-weight: 600;
            cursor: pointer;
        }

        .blog .news-box span {
            color: #909090;
            font-size: .9em;
            font-weight: 600;
        }

        .blog .news-box .blog-img {
            margin-top: 1em;
        }
/*# sourceMappingURL=style2.css.map */