<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://kit.fontawesome.com/92d6f9ab3e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header id="hd-part">
        <div class="container">
            <div id="ah">
                <div class="hd-1 row">
                    <div class="hd-1-left col-md-6">
                        <ul>
                            <li><a href="#"><i class="fas fa-mobile-alt"></i> +994 70 311 00 00</a></li>
                            <li><a href="#"><i class="far fa-life-ring"></i> Yardım Mərkəzi</a></li>
                            <li><a href="#"><i class="fas fa-map-marker-alt"></i> Sifarişi izləmək</a></li>
                            <li><a href="#"><i class="far fa-bell"></i> Blog</a></li>
                        </ul>
                    </div>
                    <div class="hd-1-right col-md-6">
                        <ul id="asasas">
                            <li><img src="~img/az_payment_methods.png" alt=""></li>
                            <li>
                                <select class="form-control" id="languages">
                                    <option value="AZ">azərbaycan</option>
                                    <option value="RU">русский</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="container-fluid">
            <div id="uff">
                <div class="hd-2 row">
                    <div class="hd-2-logo col-md-2">
                        <div>
                            <a href="index.html"><img src="~img/logo.png" alt="" style="width: 100%;"></a>
                        </div>
                    </div>
                    <div class="hd-2-search col-md-8">
                        <input placeholder="Search for products, categories ..." type="text">
                    </div>
                    <div class="hd-2-shop col-md-2">
                        <ul>
                            <li>
                                <a class="btn" href="#open-modal">
                                    <i class="far fa-user-circle"></i>
                                </a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a href="#" title="Close" class="modal-close">X</a>
                                        <h5>Daxil ol</h5>
                                        <div class="form-group">
                                            <p>E-mail adresi <span>*</span></p>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="form-group">
                                            <p>Şifrə <span>*</span></p>
                                            <input class="form-control" type="text">
                                        </div>
                                        <button class="btn-default">Daxil ol</button>
                                        <p id="fgd">Qeydiyyatdan keçməmisiniz? <a href="register.html">Dərhal keçin!</a></p>
                                    </div>
                            </li>
                            <li>
                                <i class="fas fa-shopping-cart"></i>
                            </li>
                            <li><i class="far fa-comment-dots"></i></li>
                        </ul>
                    </div>
                    <div id="hd-search-ico">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid hidish">
            <div class="ihh">
                <div class="hd-3 row">
                    <ul>
                        <li>ELEKTRONİKA</li>
                        <li>ELEKTRONİKA</li>
                        <li>ELEKTRONİKA</li>
                        <li>ELEKTRONİKA</li>
                        <li>ELEKTRONİKA</li>
                        <li>ELEKTRONİKA</li>
                        <li>ELEKTRONİKA</li>
                        <li>ELEKTRONİKA</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="register-part container">
        <h3>Qeydiyyatdan keçin</h3>
        <div class="row">
            <h6 class="col-md-12">Personal information</h6>
            <div class="col-md-4 form-group">
                <p>Adı</p>
                <input class="form-control" type="text">
            </div>
            <div class="col-md-4 form-group">
                <p>Soyadı</p>
                <input class="form-control" type="text">
            </div>
            <div class="col-md-4 form-group">
                <p>E-mail adresi</p>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="row">
            <h6 class="col-md-12">Login information</h6>
            <div class="col-md-6 form-group">
                <p>Şifrə</p>
                <input class="form-control" type="text">
            </div>
            <div class="col-md-6 form-group">
                <p>Şifrəni təsdiq et</p>
                <input class="form-control" type="text">
            </div>
        </div>
        <div>
            <button class="btn-default">Göndər</button>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>