@model FinalProjectV2.Data.ViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <main class="blog container">
        <h4 class="blogtitle">Blog</h4>
        @{
            foreach (var item in Model.News)
            {
                <div class="news-box">
                    <h5 class="title">@item.Title</h5>
                    <span>@item.PublishedDate</span>
                    <div class="blog-img">
                        <img src="~/img/@item.Image" alt="photo">
                    </div>
                </div>
            }
        }
    </main>

